{% extends "index.html" %}

{% block content %}

<div class="content-header">
  <div class="container">
    <div class="row justify-content-end">
      {{user_name}}  
    </div>
  </div>
    <div class="container">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1 class="m-0"> New Account Payable </h1>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/accountpayable">Accounts Payable</a></li>
    
    </ol>
    </div>
    </div>
    </div>

  <br>

  <script>
   
 
  // CONVERT COMMA TO POINT
  
  function convert_decimal_value(element){
            
      var value_with_point = element.replace(',','.');
      
    
      element =  parseFloat(value_with_point).toFixed(2); 
    
      return element;
      
      }
    //----------------------------------------------------
  
    function check_fields() {
  
      
  
  var v_issue_date = document.getElementById('issue_date').value;

  if (v_issue_date == ""){
    
  
    swal('Warning!!!', ' Issue date must be valid!' , 'warning');
  
    return false;
  }

  var v_expiration_date = document.getElementById('expiration_date').value;

  if (v_expiration_date == ""){
    
  
    swal('Warning!!!', ' Expiration date must be valid!' , 'warning');
  
    return false;
  }

  
  
  
    
  
  //centro custo
  if (!$("#cost_center").val()) {
    swal('Warning!!!', 'Account must have a cost center!' , 'warning');
  
  return false;
  }
  
  
  
  // supplier
  if (!$("#supplier").val()) {
    swal('Warning!!!', 'Account must have a supplier!' , 'warning');
  
  return false;
  }


  // value
  if (!$("#description").val()) {
    swal('Warning!!!', 'Account must have a description!' , 'warning');
  
  return false;
  }



  // value
  if (!$("#value").val()) {
    swal('Warning!!!', 'Value Must be a number!' , 'warning');
  
  return false;
  }

  var my_value=document.getElementById('value').value;

  my_value = convert_decimal_value(my_value);

  if(isNaN(my_value)){
               
               swal('Warning!!!', 'The value must be a number! ', 'warning');
              
               document.getElementById('value').focus();
              
              return false;     
          }

          
   
  
  // // value
  // if(isNaN(convert_decimal_value(document.getElementById('value').value))){
             
               
  //            swal('Warning!!!', 'Value must be a number! ', 'warning');
            
                      
  //           return false;     
  //       }

  
  }
  
        
   function validateDate(id,field) {
             
             var my_result = true;
                  
             var RegExPattern = /^((((0?[1-9]|[12]\d|3[01])[\.\-\/](0?[13578]|1[02])      [\.\-\/]((1[6-9]|[2-9]\d)?\d{2}))|((0?[1-9]|[12]\d|30)[\.\-\/](0?[13456789]|1[012])[\.\-\/]((1[6-9]|[2-9]\d)?\d{2}))|((0?[1-9]|1\d|2[0-8])[\.\-\/]0?2[\.\-\/]((1[6-9]|[2-9]\d)?\d{2}))|(29[\.\-\/]0?2[\.\-\/]((1[6-9]|[2-9]\d)?(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00)|00)))|(((0[1-9]|[12]\d|3[01])(0[13578]|1[02])((1[6-9]|[2-9]\d)?\d{2}))|((0[1-9]|[12]\d|30)(0[13456789]|1[012])((1[6-9]|[2-9]\d)?\d{2}))|((0[1-9]|1\d|2[0-8])02((1[6-9]|[2-9]\d)?\d{2}))|(2902((1[6-9]|[2-9]\d)?(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00)|00))))$/;
       
            if (!((id.value.match(RegExPattern)) && (id.value!=''))) {
                
               
                   alert('Date of field' + field + 'must be in format dd/mm/yyyy');
                
                  id.focus();
                
                  my_result = false;
                
               }
                  return my_result;
      
           }
  
  //------------------------------------------
  
  function add_supplier_account(element) {
  // add supplier
  
  
  
  
  document.getElementById("id_supplier").value = document.getElementById("gridclientsale").rows[element.parentNode.parentNode.rowIndex].cells[0].innerHTML;
  document.getElementById("supplier").value = document.getElementById("gridclientsale").rows[element.parentNode.parentNode.rowIndex].cells[1].innerHTML;
  
  
  
  close_modal_suppliers();
  
  }
  //--------------------------------------------------------------
  function close_modal_suppliers(){
      $('#modalClients').modal('hide');    
      }
  //---------------------------------------------------------
  
  function add_cost_center_account(element) {
  // add cost center account
  
  
  document.getElementById("id_cost_center").value = document.getElementById("gridcost_centersale").rows[element.parentNode.parentNode.rowIndex].cells[0].innerHTML;
  document.getElementById("cost_center").value = document.getElementById("gridcost_centersale").rows[element.parentNode.parentNode.rowIndex].cells[1].innerHTML;
  
  close_modal_cost_center();
  
  }
  //--------------------------------------------------------------
  function close_modal_cost_center(){
      $('#modalCostCenter').modal('hide');    
      }
  //---------------------------------------------------------
       
  
  
  
  </script>
  
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-success">
        
        <!-- /.box-header -->

              <!-- Modal Suppliers -->

              <div class="modal fade" id="modalClients" tabindex="-1" role="dialog" aria-labelledby="modalClientsTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title" id="modalClientsTitle">Suppliers</h2>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>

                    
                    </div>
                    <div class="modal-body">

                        
                            <table class="table table-bordered table-striped table-hover" id="gridclientsale">
                              <thead>
                                <tr>
                                  <th style="width: 10px">#</th>
                                  <th>Name</th>
                                  <th style="width: 140px">&nbsp;</th>
                                </tr>
                              </thead>
                              <tbody >
                                
                                {% for supplier in suppliers %}
                                <tr>
                                  <td>{{supplier.id}}</td> 
                                  <td>{{supplier.name}}</td> 
                                  
                                  <td>
                                    <button type="button" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top"  onclick="add_supplier_account(this)">
                                      <i class="fa fa-plus"></i> Select
                                    </button>
                                
                                    
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                    </div>
                  </div>
                </div>
              </div>


              <!-- FIM -  Modal Fornecedores -->
          
              <!-- ------------------------------------------------------------------------------ -->
                <!--   Modal Cost Center -->

                <div class="modal fade" id="modalCostCenter" tabindex="-1" role="dialog" aria-labelledby="modalCostCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title" id="modalCostCenterTitle">Cost Center</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>

                      
                      </div>
                      <div class="modal-body">

                          
                              <table class="table table-bordered table-striped table-hover" id="gridcost_centersale">
                                <thead>
                                  <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Name</th>
                                    <th style="width: 140px">&nbsp;</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for cs in costs_center %}
                                  <tr>
                                    <td>{{cs.id}}</td>
                                    <td>{{cs.name}}</td>
                                    <td>
                                      <button type="button" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top"  onclick="add_cost_center_account(this)">
                                        <i class="fa fa-plus"></i> Select
                                      </button>
                                  
                                      
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        
                      </div>
                    </div>
                  </div>
                </div>

                <!-- FIM -  Modal Centro Custo -->

      <!-- ------------------------------------------------------------------------------ -->




        <!-- form start -->
        <form id="myForm" role="form" action="/accountpayable/create" method="post" onsubmit="return check_fields()">
          <div class="box-body">
            
            <div class="form-group">
              <label for="issue_date" >Issue Date:</label>
              <input type="date" class="form-control" id="issue_date" name="issue_date" >
            </div> 

            <div class="form-group">
              <label for="expiration_date" >Expiration Date:</label>
              <input type="date" class="form-control" id="expiration_date" name="expiration_date" >
            </div>

            <div class="form-group">
              <label for="description">Description:</label>
              <input type="text" class="form-control" id="description" name="description" >
            </div>


            <div class="form-group">
              <label for="documumento">Document:</label>
              <input type="text" class="form-control" id="document_number" name="document_number"  >
            </div>

            <div class="form-group hidden">
              <input type="hidden" class="form-control" id="id_supplier" name="id_supplier" readonly >
            </div>

            <div class="form-group">
              <label for="supplier">Supplier:</label>
              <input type="text" class="form-control" id="supplier" name="supplier" readonly >
            </div>

             <!-- Button trigger modal -->
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalClients">
              Select Supplier
            </button>

            <div class="form-group hidden">
              <input type="hidden" class="form-control" id="id_cost_center" name="id_cost_center" readonly >
            </div>

            <div class="form-group">
              <label for="cost_center">Cost Center:</label>
              <input type="text" class="form-control" id="cost_center" name="cost_center" readonly >
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCostCenter">
              Select Cost Center
            </button>

            <div class="form-group">
              <label for="value">Value:</label>
              <input type="text" class="form-control" id="value" name="value" >
            </div>

                
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
  	</div>
  </div>
  
</section>
{% endblock %}

