{% extends "index.html" %}

{% block content %}

<div class="content-header">
  <div class="container">
    <div class="row justify-content-end">
      {{user_name}}  
    </div>
  </div>
    <div class="container">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1 class="m-0"> Update Cost Center </h1>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/costscenter">Costs Center</a></li>
    
    </ol>
    </div>
    </div>
    </div>

  <br>

  <script>
    function check_fields() {
    
    //   //nome
    // if (!$("#name").val())  {
    //  swal('Attention!!!', 'The group must have a name!' , 'warning');
      
    // return false;
    // }
    
    }
    
    </script>

<section class="content">
<div class="row">
    <div class="col-md-12">

        <div class="box box-primary">
                    
            
            <br>

            <div class="box-body no-padding">
              <form role="form" action="/costscenter/{{cost_center.id}}" method="post" onsubmit="return check_fields()">
                <div class="box-body">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required value="{{cost_center.name}}" >
                  </div>
                  
                  <div class="form-group">
                    <label>Type:</label>
                    <select class="form-control" id="cost_type" name="cost_type">
                      <option {% if cost_center.type == "INCOMING" %} selected {% endif %} value="INCOMING" >INCOMING</option>
                      <option {% if cost_center.type == "OUTGOING" %} selected {% endif %} value="OUTGOING" >OUTGOING</option>
                      <option {% if cost_center.type == "INCOMING/OUTGOING" %} selected {% endif %} value="INCOMING/OUTGOING">INCOMING/OUTGOING</option>
                    </select>
                  </div>
                  
                     
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <button type="submit" class="btn btn-success">Update</button>
                </div>
              </form>
                
            </div>
        <!-- /.box-body -->
        </div>
     </div>
</div>   
</section>
{% endblock %}

