{% extends "index.html" %}

{% block content %}

<div class="content-header">

    <div class="container">
        <div class="row justify-content-end">
          {{user_name}}  
        </div>
    </div>

    <div class="container">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1 class="m-0"> Home </h1>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
   
    
    </ol>
    </div>
    </div>
    </div>


  <br>

<section class="content">
<div class="row">
    <div class="col-md-12">

        <div class="box box-primary">
                    
            


            <div class="box-body no-padding">
               

              <div class="alert alert-danger" role="alert">
                This is a complete ERP system. It was originally written to be used in Brazil
                 and therefore some fields like cnpj/cpf, IE and 
                 the states are for use in Brazil. I tried my best 
                 to adapt the system and source code to 
                 be understood by English speakers.
              </div>

              <br>
              <div class="alert alert-success" role="alert">
                All code is available on <a href="https://github.com/emanuelfcosta/Enterprise-Resource-Planning" target="_blank" class="alert-link">GitHub</a>
              </div>


            </div>
        <!-- /.box-body -->
        </div>
     </div>
</div>   
</section>
{% endblock %}

