{% extends "index.html" %}

{% block content %}

<script>

  


//----------------------------------------------------
function check_fields() {

    


// //product_group
// if (!$("#product_group").val()) {
//  swal('Warning!!!', 'The product must have a group!' , 'warning');

// return false;
// }



}




</script>



<div class="content-header">
  <div class="container">
    <div class="row justify-content-end">
      {{user_name}}  
    </div>
  </div>
    <div class="container">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1 class="m-0"> Update Supplier </h1>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/suppliers">Suppliers</a></li>
    
    </ol>
    </div>
    </div>
    </div>

  <br>

  
<section class="content">
<div class="row">
    <div class="col-md-12">

        <div class="box box-primary">
                    
            
            <br>

            <div class="box-body no-padding">
              <form role="form" action="/suppliers/{{supplier.id}}" method="post" onsubmit="return check_fields()">
                <div class="box-body">

                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required value="{{supplier.name}}"  >
                  </div>
                  
                  <div class="form-group">
                    <label for="cnpj_cpf">CNPJ/CPF</label>
                    <input type="text" class="form-control" id="cnpj_cpf" name="cnpj_cpf" value="{{supplier.cnpj_cpf}}"   >
                  </div>

                  <div class="form-group">
                    <label for="ie">IE</label>
                    <input type="text" class="form-control" id="ie" name="ie" value="{{supplier.ie}}" >
                  </div>

                  <div class="form-group">
                    <label for="zip_code">Zip Code</label>
                    <input type="text" class="form-control" id="zip_code" name="zip_code" value="{{supplier.zip_code}}"  >
                  </div>

                  <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" required value="{{supplier.address}}"  >
                  </div>

                  <div class="form-group">
                    <label for="number">Number</label>
                    <input type="text" class="form-control" id="number" name="number" value="{{supplier.number}}"   >
                  </div>

                  <div class="form-group">
                    <label for="complement">Complement</label>
                    <input type="text" class="form-control" id="complement" name="complement" value="{{supplier.complement}}"  >
                  </div>

                  <div class="form-group">
                    <label for="district">District</label>
                    <input type="text" class="form-control" id="district" name="district" value="{{supplier.district}}"   >
                  </div>

                  <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" value="{{supplier.city}}"   >
                  </div>

              
                  <div class="form-group">
                    <label>State( states of Brazil):</label>
                    <select class="form-control" id="state" name="state">
                      <option {% if supplier.state == "AC" %} selected {% endif %} value="AC">AC</option>
                      <option {% if supplier.state == "AL" %} selected {% endif %} value="AL">AL</option>
                      <option {% if supplier.state == "AP" %} selected {% endif %} value="AP">AP</option>
                      <option {% if supplier.state == "AM" %} selected {% endif %} value="AM">AM</option>
                      <option {% if supplier.state == "BA" %} selected {% endif %} value="BA">BA</option>
                      <option {% if supplier.state == "CE" %} selected {% endif %} value="CE">CE</option>
                      <option {% if supplier.state == "DF" %} selected {% endif %} value="DF">DF</option>
                      <option {% if supplier.state == "ES" %} selected {% endif %} value="ES">ES</option>
                      <option {% if supplier.state == "GO" %} selected {% endif %} value="GO">GO</option>
                      <option {% if supplier.state == "MA" %} selected {% endif %} value="MA">MA</option>
                      <option {% if supplier.state == "MT" %} selected {% endif %} value="MT">MT</option>
                      <option {% if supplier.state == "MS" %} selected {% endif %} value="MS">MS</option>
                      <option {% if supplier.state == "MG" %} selected {% endif %} value="MG">MG</option>
                      <option {% if supplier.state == "PA" %} selected {% endif %}value="PA">PA</option>
                      <option {% if supplier.state == "PB" %} selected {% endif %} value="PB">PB</option>
                      <option {% if supplier.state == "PR" %} selected {% endif %} value="PR">PR</option>
                      <option {% if supplier.state == "PE" %} selected {% endif %} value="PE">PE</option>
                      <option {% if supplier.state == "PI" %} selected {% endif %} value="PI">PI</option>
                      <option {% if supplier.state == "RJ" %} selected {% endif %} value="RJ">RJ</option>
                      <option {% if supplier.state == "RN" %} selected {% endif %} value="RN">RN</option>
                      <option {% if supplier.state == "RS" %} selected {% endif %} value="RS">RS</option>
                      <option {% if supplier.state == "RO" %} selected {% endif %} value="RO">RO</option>
                      <option {% if supplier.state == "RR" %} selected {% endif %} value="RR">RR</option>
                      <option {% if supplier.state == "SC" %} selected {% endif %}value="SC">SC</option>
                      <option {% if supplier.state == "SP" %} selected {% endif %}value="SP">SP</option>
                      <option {% if supplier.state == "SE" %} selected {% endif %}value="SE">SE</option>
                      <option {% if supplier.state == "TO" %} selected {% endif %}value="TO">TO</option>
                    </select>
                  </div>
      





                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{supplier.phone}}"   >
                  </div>

                  <div class="form-group">
                    <label for="cell_phone">Cell Phone</label>
                    <input type="text" class="form-control" id="cell_phone" name="cell_phone" value="{{supplier.cell_phone}}"   >
                  </div>

                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{supplier.email}}"   >
                  </div>
      
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <button type="submit" class="btn btn-success">Update</button>
                </div>
              </form>
                
            </div>
        <!-- /.box-body -->
        </div>
     </div>
</div>   
</section>
{% endblock %}

